
.student-create-plan {
  display: flex;
}

.course-container {
  flex: 50%;
  margin: 10px;
  position: relative;
  top: 40px;
}

.form {
  display: inline;
}

.edit-plan {
  border-right: 2px solid black;
  flex: 50%;
  height: 100vh;
  position: relative;
  margin: 15px;
  top: 40px;
}

.submit-button {
  position: absolute;
  bottom: 55px;
  right: 30px;
}

.explore-courses {
  margin: 10px;
  padding: 8px;
  height: 85vh;
  overflow: scroll;
}

.course {
  border: 1px solid black;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f2f2f2;
}

.btn.btn-add {
  background-color: #b3b3b3;
}

.search-container {
  margin: 10px;
  padding: 8px;
  display: inline-block;
}

.expand-btn {
  float: right;
}

.course-filter {
  float: right;
  margin: 25px;
  margin-right: 50px;
}

.plan-metadata {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 75px;
  background-color: #c0c0c0;
}

.metadata-field {
  vertical-align: top;
  display: inline-block;
  width: 20%;
  height: 200px;
}

.field-type {
  font-weight: bold;
  vertical-align: middle;
}

.field-text {
  font-weight: normal;
  vertical-align: middle;
}

.search-plans-container {
  width: 100%;
}

.search-plans-form {
  margin: 0 auto;
  width: 10%;
}

#search-plans-input {
  margin: 0px auto;
  width: 100%;
}

#search-plans-input {
  margin: 0px auto;
}

#search-plans-button {
  display: block;
  margin: 10px auto;
}

.courses-table {
  margin: 50px auto;
  width: 90%;
}

.plan-comments {
  margin: 50px auto;
  text-align: center;
  width: 100%;
}

.home-container {
  margin: 250px auto;
  text-align: center;
  width: 100%;
}

.home-button {
  margin: 25px;
}

.table-container {
  width: 100%;
}

.table-container table, .table-container th, .table-container td {
  border: 1px solid black;
  border-collapse: collapse;
}

.table-container th, .table-container td {
  padding: 5px;
}

.table-container th {
  text-align: left;
}

.plan-comments {
  margin: 50px auto;
  text-align: center;
  width: 100%;
}

.comment-container {
  text-align: center;
  margin: 25px auto;
  padding: 25px;
  width: 250px;
  background-color: #b3b3b3;
}

.comment-user {
  font-weight: bold;
  font-size: large;
}

.comment-time {
  font-style: italic;
}

.comment-text {
  font-size: large;
}

.table {
  width: 95%;
  margin: 10px;
}

.plan-header {
  display: inline;
}

.plan-name {
  padding: 5px;
}

.credits-header {
  float: right;
  margin-right: 15px;
}

.credits {
  display: block;
}

.total-credits {
  position: relative;
  left: 50%;
}

.navbar-parent {
  display: flex;
  position: absolute;
  width: 100%;
  background-color: orange;
}

#navbar-search {
  width: 35%;
}

.status-container {
  margin: 100px;
}