/* basic CSS for test plan submission form */

/* page header box */
header {
  color: #ffffff;
  background-color: black;
  padding: 15px;
}

/* form for submiting a plan */
#plan-form {
  padding: 10px;
}

/* button for submiting plan */
#submit-button {
  margin: 10px 50px;
}

/* input elements of the form */
input {
  margin: 10px;
}

/* links */
a {
  display: block;
  padding: 20px;
}
